<%= provide(:title, "Home")%>

<div class="model-div row">
  <div class="col s12 m6 l62">
    <h3 class="center">Models here</h3>
    <div class="input-field">
      <select class="models-list">

      </select>
    </div>
  </div>
</div>
