<%= provide(:title, "Home")%>

<div class="row">

  <div class="model-div col s6 m7 l7">
    <div class="container">
      <h3 class="center">Models</h3>
      <div class="input-field">
        <select class='models-list'>
          <option value="" selected disabled>Choose a Model</option>
        </select>
      </div>

      <!-- LOADER STUFF IS HERE -->
      <div id="loading" class="center">
        <!-- this is the loading gif -->
        <%= image_tag('icons/load.svg', :alt => 'Loading') %>
      </div>

      <div class="row" id="model-specs" align="center">
        <!-- show Model details trigger -->
        <a class="waves-effect waves-light btn modal-trigger" id="detail-trigger" href="#modal1">Show Model Details</a>
        <h5 class="feature-label center">Features</h5>
        <div class="table-div col s12 m12 l12" ></div>
      </div>

      <!-- Model Details -->
      <div id="modal1" class="modal" style="width:80% !important">
        <div class="modal-content">
          <h4>Hey man</h4>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <!-- ###################################-->


      <div class="row">
        <h5 class="data-label center">Data Preview</h5>
        <div class="data-div col s12 m12 l12">

        </div>
      </div>

      <div class="row center upload-div">
        <form enctype="multipart/form-data">
          <input type="file" name="file" class= "upload-file">
          <button class="btn upload-button">Upload and Predict</button>
        </form>
        <!-- LOADER STUFF IS HERE -->
        <div id="loading-upload" class="center">
          <!-- this is the loading gif -->
          <%= image_tag('icons/load.svg', :alt => 'Loading') %>
        </div>
      </div>

    </div>
  </div>

  <div class="col s6 m5 l5 results-div">
    <div class="results-container row container">
      <h3 class="center">Prediction for</h3>
      <h6 class="predict-col center"></h6>
      <!-- LOADER STUFF IS HERE -->
      <div id="loading-results" class="center">
        <!-- this is the loading gif -->
        <%= image_tag('icons/load.svg', :alt => 'Loading') %>
      </div>
      <h5 class="result-label center"></h5>
      <p class="model-rate-label center"></p>
      <br>
      <div class="center">
        <button class="show-button btn">Show More Details</button>
        <div class="prediction-details">
          <h6 class="prediction-name center"></h6>
        </div>
      </div>
    </div>
  </div>

</div>
