<%= provide(:title, "Home")%>

<div class="row">
  <div class="model-div col s12 m8 l8 offset-m2 offset-l2">
    <h3 class="center">Models here</h3>
    <div class="input-field">
      <select class='models-list'>
        <option value="" selected disabled>Choose a Model</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="table-div col s12 m12 l12">

  </div>
</div>

<div class="row center upload-div">
  <form enctype="multipart/form-data">
  	<input type="file" name="file" class= "upload-file">
    <button class="preview-btn">Preview</button>
  	<button>Upload</button>
  </form>

</div>


<div class="row center">
	<button id="predict">Predict</button>
</div>

  <!-- LOADER STUFF IS HERE -->
  <div id="loading" class="center">
  <!-- this is the loading gif -->
    <img src="https://www.codeschool.com/assets/icons/icon-animated-loader-e2fdd92fc93384bc6baf3865e6ac0d11.svg">
  </div>
