<%= provide(:title, "Home")%>

<button id="model-view" class="btn waves-effect waves-light">
  View All Models
</button>

<div class="models-list">

</div>


<button id="frame-view" class="btn waves-effect waves-light">
  View All Test Data
</button>

<div class="frames-list">

</div>
