<%= provide(:title, "Home")%>

<div class="model-div row">
  <div class="col s12 m8 l8 offset-l2 offset-m2">
    <h3 class="center">Models here</h3>
    <div class="input-field">
      <select class='models-list'>
        <option value="" selected disabled>Choose a Model</option>
      </select>
    </div>
    <div>
      <form class="data-form col s12 m12 l12"  method="post">

      </form>
    </div>
  </div>
</div>
