// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  margin: 0px;
}

.results-div{
	margin-top: 20px !important;
}

.model-div{
	margin-top: 20px !important;
}

h3{
	font-weight: 500 !important;
}