// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  margin: 0px;
}

.results-div{
	margin-top: 20px !important;
  // Class for when element is above threshold

}
.pin-top {
  position: relative !important;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}

.model-div{
	margin-top: 20px !important;
}

.table-div, .data-div{
	overflow-x: auto;
}

.feature-label, .data-label{
	margin-top: 35px !important;
}

h3{
	font-weight: 500 !important;
}

.results-container{
	background: #fce4ec !important;
	padding: 15px;
}

#loading-results, #loading-upload{
	display: none;
}
